*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,body{
    height: 100%;
}

body{
    display: flex;
}

.clear{
    clear: both;
}

#config{
    width: 0;
    height: 100%;
    background-color: #8b0000;
    transition: all 0.5s;
    position: relative;
    overflow-x: hidden;
}

#config .config-wraper{
    position: absolute;
    width: 273px;
    height: 100%;
    padding: 30px 0;
}

.config-wraper .titulo-wraper{
    width: 100%;
    max-height: 100px;
    text-align: center;
}

.config-wraper .titulo-wraper h1{
    font-size: 35px;
    font-weight: 300;
    color: whitesmoke;
}

.container-buttons{
    width: 100%;
    height: 500px;
    padding: 60px 0 0 0;
}

.button-wraper-single{
    width: 100%;
    height: 50px;
    display: flex;
}

.separar{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: whitesmoke;
    padding-right: 15px;
}

.separar:nth-of-type(even){
    justify-content: start;
    padding-right: 0;
    padding-top: 5px;
}

.separar h4{
    font-size: 15px;
    font-weight: 500;
}

.separar h4:nth-of-type(2){
    font-size: 10px;
}

.button{
    width: 110px;
    height: 30px;
    border-radius: 100px;
    position: relative;
    background-color: #2c2c2c;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button h5{
    position: absolute;
    left: 40px;
    top: 7px;
    font-size: 11px;
    transition: color 0.5s;
}

.button .circle{
    width: 30px;
    height: 30px;
    background-color: wheat;
    border-radius: 50%;
    transition: margin-left 0.5s;
    position: relative;
}

input[type="color"] {
    border: 3px solid whitesmoke;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: none;
    border-radius: 4px;
    width: 60px;
    height: 30px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.container-selc-cor{
    width: 100%;
    height: 200px;
    display: none;
    flex-direction: column;
}

.container-selc-cor .container-inputs{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inputs .inputs-wraper{
    display: flex;
    gap: 15px;
}

.container-selc-cor .container-pre{
    width: 100%;
    height: 60%;
}

.container-selc-cor .container-pre .titulo-pre{
    padding-left: 20px;
}

.container-pre .titulo-pre h4{
    font-weight: 400;
    color: whitesmoke;
}

.container-pre .pre-wraper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.container-pre .preConteudo{
    width: 30%;
    height: 40px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    background-color: red;
    display: flex;;
}

.container-pre .preConteudo .preConfig{
    width: 30%;
    height: 100%;
    background-color: red;
}

.container-pre .preConteudo .preTexto-wraper{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preConteudo .preTexto-wraper .preTexto{
    width: 80%;
    height: 5px;
}

#conteudo{
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

#abrirConfig{
    margin: 20px;
    background-image: url(../images/settings-glyph-black-icon-png_293809-removebg-preview\ \(1\).png);
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: filter 0.5s, transform 0.5s;
}

#abrirConfig:hover{
    filter: drop-shadow(0 0 10px #ffffff);
    transform: scale(1.1);
}

#conteudo .texto-wraper{
    width: 100%;
    height: calc(100%  - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-wraper .texto{
    width: 600px;
    height: 500px;
    color: whitesmoke;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    overflow: hidden;
}

.texto h1{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 500;
    transition: color 0.5s;
}

.texto p{
    text-align: justify;
    padding: 0 60px;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.5s;
}

.texto-wraper .texto h1:nth-of-type(2),.texto-wraper .texto p:nth-of-type(2){
    display: none;
}

.reload{
    animation-name: reload;
    animation-duration: 3s;
    pointer-events: none;
}

@keyframes reload{
    0%{
        opacity: 0.1;
    }

    25%{
        opacity: 0.3;
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.8;
    }

    100%{
        opacity: 1;
    }
}

@keyframes Troca{
    0%{
        transform: rotateY(0deg);
    }

    50%{
        transform: rotateY(180deg);
        opacity: 0;
    }

    75%{
        transform: rotateY(180deg);
        opacity: 0;
    }

    100%{
        transform: rotateY(360deg);
    }
}

@keyframes remover{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(8) rotate(180deg);
    }

    100%{
        transform: scale(0) rotate(-360deg);
    }
}

@keyframes adicionar{
    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(8) rotateZ(180deg);
    }

    100%{
        transform: scale(1) rotateZ(360deg);
    }
}

@media screen and (max-width: 1300px){
    body{
        flex-direction: column;
    }

    #config{
        width: 100%;
        height: 0;
        overflow-y: visible;
        scrollbar-width: thin;
        scrollbar-color: darkred #2c2c2c;
    }

    #config .config-wraper{
        width: 100%;
        padding: 0;
    }

    .config-wraper .titulo-wraper h1{
        font-weight: 400;
    }

    .container-buttons{
        height: auto;
        padding: 30px 0 0 0;
    }

    .button-wraper-single{
        display: block;
        float: left;
        height: 100px;
        width: 33.3%;
    }

    .separar{
        float: left;
        display: inline-flex;
        max-width: 200px;
    }

    .container-selc-cor{
        float: left;
        max-width: 300px;
    }

    .texto-wraper .texto p{
        padding: 0 4%;
        max-height: 300px;
        overflow: hidden;
    }
}

@media screen and (max-width: 780px){
    .button-wraper-single{
        display: flex;
        flex-direction: column;
    }

    .separar{
        max-width: none;
        width: 200px;
        margin-left: -25px;
    }

    .separar:nth-of-type(even){
        padding-left: 40px;
    }

    .separar:nth-of-type(odd){
        justify-content: center;
    }
}